@import "tailwindcss";
@plugin "daisyui"{
  themes: forest --default;
};
*{
  margin: 0;
  padding:0;
}
body{
  margin:0;
  padding:0;
  box-sizing: border-box;/*i only count widths etc not additinal space like border etc*/
  overflow: hidden;/*no option of scrolling etc with this*/
}
html{
  overflow: hidden;
}
.root{
  --primary-bg:#090908;
  --secondart-bg:#141319;
  --ternary-bg:#17171c
}